<template>
  <div class="wrapper">
    <canvas width="400" height="400" id='OccurrenceChart'>
    </canvas>
  </div>
</template>

<script>
import Chart from 'chart.js'

export default {
  name: 'Chart',
  mounted () {
    Chart.defaults.global.tooltips.enabled = false
    Chart.defaults.global.legend.display = false

    Chart.defaults.global.defaultFontFamily = 'FetteMitD W01 Regular'
    Chart.defaults.global.defaultFontColor = 'rgb(41, 41, 40)'
    Chart.defaults.global.defaultFontSize = 22

    const occurencesDimensions = this.$store.state.occurencesDimensions

    let images = []
    let imageDrawn = false
    Chart.plugins.register({
      afterDraw: function (instance) {
        var ctx = instance.chart.ctx
        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, 'normal', Chart.defaults.global.defaultFontFamily)
        const width = instance.chart.width
        const height = instance.chart.height
        // const pad = 30
        for (let i = 0; i < instance.chart.config.data.labels.length; i++) {
          let label = instance.chart.config.data.labels[i]

          let dim = occurencesDimensions[i]

          ctx.lineWidth = 0
          ctx.fillStyle = 'white'
          ctx.strokeStyle = 'white'
          ctx.fillRect(width * dim.label.x, height * dim.label.y - 15, ctx.measureText(label).width, parseInt(ctx.font, 10))

          ctx.fillStyle = Chart.defaults.global.defaultFontColor ? Chart.defaults.global.defaultFontColor : '#333'
          ctx.fillText(label, width * dim.label.x, height * dim.label.y)

          if (!imageDrawn) {
            if (i === instance.chart.config.data.labels.length - 1) {
              imageDrawn = true
            }
            images.push(new window.Image())
            images[i].onload = function () {
              ctx.drawImage(images[i], width * dim.img.x, height * dim.img.y, dim.img.width, dim.img.height)
            }
            images[i].src = '/static/occurrence-icons/' + i + '.png'
          } else if (images[i].complete) {
            ctx.drawImage(images[i], width * dim.img.x, height * dim.img.y, dim.img.width, dim.img.height)
          }
        }
      }
    })
    this.createChart()
  },
  watch: {
    data () {
      this.Chart.destroy()
      this.createChart()
    }
  },
  computed: {
    occurrences () {
      return this.$store.state.occurrences
    },
    graphData () {
      let data = this.data
      let dataset = data.datasets[0]
      dataset.backgroundColor = 'rgb(194, 207, 66)'
      dataset.borderColor = 'rgb(194, 207, 66)'
      dataset.pointRadius = 7
      dataset.pointBorderWidth = 1.6
      dataset.pointBorderColor = '#333'
      dataset.pointBackgroundColor = '#FFF'
      dataset.hitRadius = 0
      dataset.radius = 7
      return data
    }
  },
  data () {
    return {
      options: {
        layout: {
          padding: { left: 0, right: 0, top: 50, bottom: 0 }
        },
        startAngle: -45,
        maintainAspectRatio: false,
        scale: {
          lineArc: true,
          gridLines: {
            color: 'rgb(238, 238, 238)'
          },
          ticks: {
            beginAtZero: true,
            min: 0,
            display: false,
            max: 10,
            stepSize: 5
          }
        }
      }
    }
  },
  props: ['data'],
  methods: {
    createChart: function () {
      /* eslint-disable no-unused-vars */
      this.Chart = new Chart(document.getElementById('OccurrenceChart'), {
        type: 'radar',
        data: this.graphData,
        options: this.options
      })
      /* eslint-enable no-unused-vars */
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang="scss">
.wrapper {
  position: relative;
  height: 600px;
  margin: 20px 0;

  @media (max-width: 600px) {
    margin: 0 auto;
    width: 960px;
  }
}
</style>
