<template>
  <div class="criteria-input">
    <input :id="criteria.key" :value="criteria.value" type="number" min="0" max="10" step="1" @change="formDataChanged">
    <label :for="criteria.key">{{ criteria.name }}</label>
  </div>
</template>

<script>
export default {
  name: 'CriteriaInput',
  props: ['criteria'],
  methods: {
    formDataChanged (e) {
      const value = e.target.value

      this.criteria.value = value
    }
  }
}
</script>

<style scoped>

</style>
