<template>
  <div class="criteria-item">
    <span :class="{ bold: criteria.value >= 7, 'strike-through': criteria.value == 0 }">
      {{ criteria.name }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'CriteriaItem',
  props: ['criteria']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.criteria-item {
  margin: 4px 0 0;

  span {
    padding: 0 2px;

    &.strike-through {
      text-decoration: line-through;
    }

    &.bold {
      background: rgb(194, 207, 66);
    }
  }
}
</style>
