<template>
  <div class='form'>
    <div class='grid' v-touch:swipeleft='onSwipeLeft' v-touch:swiperight='onSwipeRight'>
      <div class='grid-wrapper'>
        <div class='grid-item col-4 left' v-for='occurrence in occurrences'>
          <h2>{{ occurrence.name }}</h2>
          <CriteriaInput :criteria='criteria' v-for='criteria in occurrence.criterias'></CriteriaInput>
        </div>
      </div>
    </div>
    <button class="right" onclick='window.print()'>Print</button>
    <div>
      <input type='checkbox' id='prettygraph' :checked='prettyGraph' @change='updatePrettyGraph'>
      <label for='prettygraph'>Pretty Graph</label>
    </div>
  </div>
</template>
<script>
import CriteriaInput from './CriteriaInput'

export default {
  name: 'OfferForm',
  components: {
    CriteriaInput
  },
  data () {
    return {
      gridActive: 0
    }
  },
  computed: {
    occurrences () {
      return this.$store.getters.occurrencesWithCriterias
    },
    prettyGraph () {
      return this.$store.state.prettyGraph
    }
  },
  methods: {
    updatePrettyGraph (e) {
      this.$store.commit('updatePrettyGraph', e.target.checked)
    },
    onSwipeLeft (e) {
      if (this.gridActive + 1 < this.$el.querySelector('.grid-wrapper').children.length) {
        this.gridActive++
        this.transformGridList()
      }
    },
    onSwipeRight (e) {
      if (this.gridActive > 0) {
        this.gridActive--
        this.transformGridList()
      }
    },
    transformGridList () {
      this.$el.querySelector('.grid-wrapper').style.transform = 'translateX(-' + this.gridActive * 25 + '%)'
    }
  }
}
</script>
<style lang='scss'>
.form {
  padding: 10px 15px;
  @media screen AND (max-width: 600px) {
    font-size: 16px;

    input,
    button {
      font-size: inherit;
    }

    button {
      margin: -7px 0 0;
    }

    .grid {
      overflow: hidden;
      width: 100%;
    }
    .grid-wrapper {
      transition: transform 0.5s ease;
      width: 400%;
    }
  }
}
</style>
