<template>
  <div class="offer">
    <h1 class="offer-headline">Der Plan</h1>
    <p class="offer-introduction">
      Wir sind überzeugt davon, dass Angebote und vage Aufwandsschätzungen ihren Dienst getan haben.
      Häufig sind sie zu einem so frühen Projektzeitpunkt ungenau, unausgewogen, zu oberflächlich und intransparent.
      Aufgrund dessen gehen wir einen anderen Weg und schaffen mit dieser Übersicht die Gesprächsgrundlage für die zukünftige Zusammenarbeit.
      Dabei geht es darum gemeinsam Perspektiven zu entwickeln, aus denen sich die Anforderungen nachvollziehbar erschließen.
    </p>
    <Chart :data="graphData"></Chart>
    <h3 class="occurenceList-headline">Leistungen im Detail</h3>
    <div class="grid">
      <div class="grid-item col-4 left" v-for="occurrence in occurrences">
        <h2 class="occurrence-headline">{{ occurrence.name }}</h2>
        <CriteriaItem :criteria="criteria" v-for="criteria in occurrence.criterias"></CriteriaItem>
      </div>
    </div>
  </div>
</template>
<script>
import CriteriaItem from './CriteriaItem'
import Chart from './Chart'

export default {
  name: 'Offer',
  components: {
    CriteriaItem,
    Chart
  },
  computed: {
    occurrences () {
      return this.$store.getters.occurrencesWithCriterias
    },
    prettyGraph () {
      return this.$store.state.prettyGraph
    },
    graphData () {
      const values = []
      const criteriaValues = this.$store.getters.criteriaValues

      for (let i = 0; i < criteriaValues.length; i++) {
        if (this.prettyGraph) {
          values.push(this.calcTangAverage(criteriaValues[i]))
        } else {
          values.push(this.calcAverage(criteriaValues[i]))
        }
      }

      return this.formatGraphData(this.$store.state.occurrences, values)
    }
  },
  methods: {
    formatGraphData (labels, values) {
      let graphData = {}
      graphData.datasets = []
      graphData.datasets[0] = {}
      graphData.labels = labels
      graphData.datasets[0].data = values

      return graphData
    },
    calcAverage (items) {
      let total = 0

      for (let i = 0; i < items.length; i++) {
        total += parseFloat(items[i])
      }
      return total / items.length
    },
    calcTangAverage (items) {
      const value = this.calcAverage(items)
      const out = value / 10
      const hyperbel = Math.sin(out * (Math.PI / 2)) * 10
      return hyperbel
    }
  }
}
</script>
<style lang="scss">
.offer {
  @media screen AND (max-width: 600px) {
    zoom: 0.3;
  }

  .offer-headline {
    border-top: 4px solid rgb(41, 41, 40);
    border-bottom: 2px solid rgb(41, 41, 40);
    font-size: 3rem;
    font-weight: normal;
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  .offer-introduction {
    padding: 30px;
    text-align: center;
  }

  .occurenceList-headline {
    border-bottom: 2px solid rgb(41, 41, 40);
    font-size: 1.6rem;
    font-weight: normal;
    padding: 17px 0;
  }

  .occurrence-headline {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
</style>
