<template>
  <div id="app">
    <div id="form">
      <transition name="slide">
        <OfferForm v-if="formOpen"></OfferForm>
      </transition>
      <div id="extender" @click="formOpen = !formOpen">
        <div class="container" :class="{'open': formOpen}">
          <div class="dot"></div>
        </div>
      </div>
    </div>
    <div id="preview">
      <Offer></Offer>
    </div>
  </div>
</template>

<script>
import Offer from './components/Offer'
import OfferForm from './components/OfferForm'

export default {
  name: 'app',
  components: {
    OfferForm,
    Offer
  },
  data () {
    return {
      formOpen: true
    }
  },
  computed: {
    occurrences () {
      return this.$store.getters.occurrencesWithCriterias
    }
  }
}
</script>

<style lang="scss">
@font-face{
    font-family:"FetteMitD W01 Regular";
    src:url("/static/font/4efa0eed-c960-4892-b000-817a9ceef5cf.eot?#iefix");
    src:url("/static/font/4efa0eed-c960-4892-b000-817a9ceef5cf.eot?#iefix") format("eot"),url("/static/font/8a9e21a8-1646-4b55-a690-936abe0d2e03.woff2") format("woff2"),url("/static/font/9c9c7bde-3184-419a-bf93-bc88c49daa8c.woff") format("woff"),url("/static/font/187fd8d9-b96c-46fb-b480-9d295cea1632.ttf") format("truetype"),url("/static/font/f5fbf324-a1fe-4d12-a842-ce75bc4e4bb4.svg#f5fbf324-a1fe-4d12-a842-ce75bc4e4bb4") format("svg");
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(41, 41, 40);
}

@media print {
  #form {
    display: none;
  }
  #extender {
    display: none;
  }
}

#form {
  background: #eee;
  font-size: 10px;
}

#form .grid {
  padding-bottom: 10px;
}

.grid:after {
  display: table;
  clear: both;
  content: '';
}

#extender {
  background: #dedede;
  height: 25px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

$size: 15px;

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: $size;
  height: $size;
  cursor: pointer;
}

.dot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: $size / 5;
  height: $size / 5;
  background: white;
  border-radius: 50%;
  transition: all 0.35s ease;
  backface-visibility: hidden;

  .container.open & {
    background: transparent;
  }

  &::before, &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    background: white;
    width: $size / 5;
    height: $size / 5;
    border-radius: 50%;
    transition: all 0.35s ease;

    .container.open & {
      height: $size;
      border-radius: 0;
    }
  }

  &::before {
    left: -(($size / 5) * 2);

    .container.open & {
      transform: rotate(45deg);
      transform-origin: right bottom;
      border-radius: $size / 5;
    }
  }

  &::after {
    right: -(($size / 5) * 2);

    .container.open & {
      transform: rotate(-45deg);
      transform-origin: left bottom;
      border-radius: $size / 5;
    }
  }
}

.slide-enter-active {
  transition: transform .5s
}

.slide-enter /* .fade-leave-active in <2.1.8 */ {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#preview {
  background: white;
  max-width: 960px;
  margin: 0 auto;
  font-family: "FetteMitD W01 Regular";
  padding: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.col-4 {
  width: 25%;
}
</style>
